<% include partials/_header %>
<ul>
  <li>
    URL:<%= urls[shortURL].longURL %>
    <ul>
      <li>
        Shortened:
        <a href='/u/<%= shortURL %>' title="Shortcut for <%= urls[shortURL].longURL %>">u/<%= shortURL %></a>
      </li>
      <li>
        Created:
        <%= urls[shortURL].date %>
      </li>
      <li>
        Number Of Visits:
        <%= urls[shortURL].visitNumber %>
      </li>
    </ul>

    <div class="url-actions">
      Update:
      <form method="POST" action="/urls/<%= shortURL %>">
        <input type="text" name="newURL" value="<%= urls[shortURL].longURL %>">
        <button type="submit" name="delete">Update</button>
      </form>
</ul>
<a href="/urls" title="all urls">See all URLS</a>
</div>
<% include partials/_footer %>
