<% include partials/_header %>
<% for(let url in urls) { %>
<ul class="list-group mt-6">
  <li class="list-group-item">
    URL:
    <%=  urls[url].longURL %>

    <ul class="list-group">
      <li class="list-group-item">
        Shortened:
        <a href='/u/<%= url %>' title="Shortcut for <%=  urls[url].longURL %>">
          <%= `u/${url}`%></a>
      </li>
      <li class="list-group-item">
        Created:
        <%= urls[url].date %>
      </li>
      <li class="list-group-item">
        Number Of Visits:
        <%= urls[url].visitNumber %>
      </li>
    </ul>
    <div class="btn-group mt-4" role="group" aria-label="Button Group">
      <form method="POST" action="/urls/<%= url %>/delete?_method=DELETE">
        <button class="btn btn-outline-warning" type="submit" name="delete">Delete</button></form>
      <a href="/urls/<%= url %>" class="btn btn-outline-primary">Edit </a>

    </div>
  </li>
</ul>
<% }; %>
<a href="/urls/new" title="Add new URL" class="btn btn-primary">Add new url</a>


<% include partials/_footer %>
