<% include partials/_header %>
<ul class="list-group mt-6">
  <li class="list-group-item">
    URL:
    <%= urls[shortURL].longURL %>
    <ul class="list-group">
      <li class="list-group-item">
        Shortened:
        <a href='/u/<%= shortURL %>' title="Shortcut for <%= urls[shortURL].longURL %>">
          <%= `u/${shortURL}` %></a>
      </li>
      <li class="list-group-item">
        Created:
        <%= urls[shortURL].date %>
      </li>
      <li class="list-group-item">
        Number Of Visits:
        <%= urls[shortURL].visitNumber %>
      </li>
      <li class="list-group-item">
        Number Of Unique Visits:
        <%= urls[shortURL].uniqueVisits %>
      </li>
    </ul>
    <div class="input-group mb-3">
      <form method="POST" class="custom-flex-form" action="/urls/<%= shortURL %>/?_method=PUT">
        <input type="text" class="form-control" name="newURL" value="<%= urls[shortURL].longURL %>">
        <button type="submit" name="delete" class="btn btn-primary mt-6 update-button">Update</button>
      </form>
    </div>
  </li>
</ul>
<a href="/urls" title="all urls">See all URLS</a>
</div>
<% include partials/_footer %>
