<% include partials/_header %>
<% if (user) { %>
<a href="/urls/new" title="Add new URL" class="btn btn-primary add-new-button">Add new url</a>
<% for(let url in urls) { %>
<ul class="list-group mt-6">
  <li class="list-group-item">
    <div class="mb-6">
      URL:
      <%=  urls[url].longURL %>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        Shortened:
        <a href='/u/<%= url %>' title="Shortcut for <%=  urls[url].longURL %>">
          <%= `u/${url}`%></a>
      </li>
      <li class="list-group-item">
        Created:
        <%= urls[url].date %>
      </li>
      <li class="list-group-item">
        Number Of Visits:
        <%= urls[url].visitNumber %>
      </li>
      <li class="list-group-item">
        Number Of Unique Visits:
        <%= urls[url].uniqueVisits %>
      </li>
    </ul>
    <form method="POST" action="/urls/<%= url %>/delete?_method=DELETE">
      <button class="btn btn-primary" type="submit" name="delete">Delete</button></form>
    <a href="/urls/<%= url %>" class="btn btn-primary">Edit </a>
  </li>
</ul>
<% }; %>
<% } %>

<% include partials/_footer %>
